name: Publish Docker

on:
  workflow_dispatch:
  push:
    branches: [ 'main' ]
    paths: ['etc/Dockerfile*']

jobs:
  docker:
    name: Build Docker Image
    runs-on: [buildjet-2vcpu-ubuntu-2204-arm]
    timeout-minutes: 30

    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Check out code
      uses: actions/checkout@v3

    - name: Build and Push
      run: make docker-arm64-ci
